* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Menu */
header {
  background: #333;
  padding: 10px;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

/* Seções */
section {
  padding: 40px;
  text-align: center;
}
img{
  border-radius: 50%;
}

/* Projetos */
#lista_projetos {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
}

/* Rodapé */
footer {
  background: #8297a3;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Responsividade */
@media (max-width: 600px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

  #lista_projetos {
    flex-direction: column;
    align-items: center;
  }
}